extended-junit.xml
junit.xml
abuild*.xml
.config
.config.old
defconfig
.coreboot-version
.xcompile
.ccwrap
build/
coreboot-builds/
coreboot-builds*/
generated/

site-local

*.\#
*.a
*.bin
*.debug
!Kconfig.debug
*.elf
*.fd
*.o
*.o.d
*.out
*.pyc
*.sw[po]
/*.rom
.test
.dependencies

# Development friendly files
tags
.clang_complete
.cache
compile_commands.json
.vscode/
.clangd

# Cross-compile toolkits
xgcc/
tarballs/

# editor backup files, temporary files, IDE project files
*~
*.kate-swp
*.kdev4

# X58 research: never publish local vendor material, captures or flash images.
/blobs-local/
/builds/
/util/x58/blobs-local/
/util/x58/builds/
/util/x58/research/generated/
/util/x58/research/**/captures/
/util/x58/site-local/
/util/x58/**/__pycache__/
/util/x58/**/*.raw
/util/x58/**/*.rom
/util/x58/**/*.aml
/util/x58/**/*.dat
/util/x58/**/*.zip
/util/x58/**/*.jsonl
/util/x58/**/.env
/util/x58/**/*.pem
/util/x58/**/*.key
/util/x58/**/id_rsa*
/util/x58/**/id_ed25519*
