CONFIG_VENDOR_MSI=y
CONFIG_BOARD_MSI_X58_PRO_E=y
CONFIG_X58_PRO_E_BRINGUP_STAGE=11
CONFIG_X58_PRO_E_B06V0_VENDOR_INIT=y
CONFIG_X58_PRO_E_B06V1_REG_SCRIPT=y
CONFIG_X58_PRO_E_B06V2_CSI_HEADER_FIX=y
CONFIG_X58_PRO_E_B06V3_WARM_RESUME=y
CONFIG_X58_PRO_E_B06V4_POLICY_TELEMETRY=y
CONFIG_CPU_MICROCODE_CBFS_DEFAULT_BINS=y
CONFIG_MICROCODE_UPDATE_PRE_RAM=y
CONFIG_MAINBOARD_PART_NUMBER="X58 Pro-E B06V4 policy telemetry ROMMON"
CONFIG_PAYLOAD_NONE=y
CONFIG_POST_IO=y
CONFIG_POST_IO_PORT=0x80
CONFIG_BOOTBLOCK_CONSOLE=n
CONFIG_CONSOLE_SERIAL=y
CONFIG_CONSOLE_SERIAL_115200=y
CONFIG_UART_FOR_CONSOLE=0
CONFIG_COLLECT_TIMESTAMPS=n
CONFIG_NO_SMM=y
CONFIG_LOCALVERSION="x58-pro-e-b06v4"
