# Experimental MSI X58 Pro-E CAR/LPC/Fintek/UART diagnostic image.
CONFIG_VENDOR_MSI=y
CONFIG_BOARD_MSI_X58_PRO_E=y
CONFIG_X58_PRO_E_BRINGUP_STAGE=2
CONFIG_PAYLOAD_NONE=y
CONFIG_POST_IO=y
CONFIG_POST_IO_PORT=0x80
CONFIG_BOOTBLOCK_CONSOLE=n
CONFIG_CONSOLE_SERIAL=y
CONFIG_CONSOLE_SERIAL_115200=y
CONFIG_UART_FOR_CONSOLE=0
CONFIG_COLLECT_TIMESTAMPS=n
CONFIG_NO_SMM=y
CONFIG_LOCALVERSION="x58-pro-e-b02"
