# Experimental MSI X58 Pro-E coupled CSI/MINIT observation with SeaBIOS.
CONFIG_VENDOR_MSI=y
CONFIG_BOARD_MSI_X58_PRO_E=y
CONFIG_X58_PRO_E_BRINGUP_STAGE=11
CONFIG_X58_PRO_E_B06V0_VENDOR_INIT=y
CONFIG_X58_PRO_E_B06V1_REG_SCRIPT=y
CONFIG_X58_PRO_E_B06V2_CSI_HEADER_FIX=y
CONFIG_X58_PRO_E_B06V3_WARM_RESUME=y
CONFIG_X58_PRO_E_B06V4_POLICY_TELEMETRY=y
CONFIG_X58_PRO_E_B06V5_COLD_MINIT=y
CONFIG_X58_PRO_E_B06V6_AUTO_HANDOFF=y
CONFIG_X58_PRO_E_B06V7_ROBUST_SLOWQPI=y
CONFIG_X58_PRO_E_B06V8_HIGH_QPI_3PASS=y
CONFIG_X58_PRO_E_B06V9_DETERMINISTIC_QPI_3PASS=y
CONFIG_X58_PRO_E_B06VA_HIGH_QPI_A0_SET=y
CONFIG_X58_PRO_E_B06VB_HIGH_QPI_MINIT_OBSERVE=y
CONFIG_X58_PRO_E_B06VC_HIGH_QPI_A0_4SET_MINIT=y
CONFIG_X58_PRO_E_B06VD_HIGH_QPI_CSI2A6_MINIT=y
CONFIG_X58_PRO_E_B06VE_HIGH_QPI_AUTO_HANDOFF=y
CONFIG_X58_PRO_E_B06VF_SEABIOS_ENTRY=y
CONFIG_X58_PRO_E_B06VG_COUPLED_MINIT_SEABIOS=y
CONFIG_CPU_MICROCODE_CBFS_DEFAULT_BINS=y
CONFIG_MICROCODE_UPDATE_PRE_RAM=y
CONFIG_MAINBOARD_PART_NUMBER="X58 Pro-E B06VG coupled MINIT SeaBIOS probe"
CONFIG_PAYLOAD_SEABIOS=y
CONFIG_SEABIOS_STABLE=y
CONFIG_COMPRESSED_PAYLOAD_LZMA=y
CONFIG_PAYLOAD_CONFIGFILE="$(top)/src/mainboard/$(MAINBOARDDIR)/config_seabios_b06vf"
CONFIG_SEABIOS_DEBUG_LEVEL=9
# CONFIG_SEABIOS_HARDWARE_IRQ is not set
# CONFIG_SEABIOS_THREAD_OPTIONROMS is not set
# CONFIG_SEABIOS_ADD_SERCON_PORT_FILE is not set
# CONFIG_VGA_ROM_RUN is not set
CONFIG_NO_GFX_INIT=y
# CONFIG_GENERATE_SMBIOS_TABLES is not set
CONFIG_POST_IO=y
CONFIG_POST_IO_PORT=0x80
# CONFIG_BOOTBLOCK_CONSOLE is not set
CONFIG_CONSOLE_SERIAL=y
CONFIG_CONSOLE_SERIAL_115200=y
CONFIG_UART_FOR_CONSOLE=0
# CONFIG_COLLECT_TIMESTAMPS is not set
CONFIG_NO_SMM=y
CONFIG_LOCALVERSION="x58-pro-e-b06vg"
